body {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    font-size: 28px;
    font-weight: bold;
}

label {
    font-size: 14px;

}

.element-input {
    padding: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}